<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>

    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem in excepturi quod deserunt numquam dicta eum fugit, neque dolorum suscipit labore accusantium quidem nihil asperiores sit tempore commodi provident culpa.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem in excepturi quod deserunt numquam dicta eum fugit, neque dolorum suscipit labore accusantium quidem nihil asperiores sit tempore commodi provident culpa.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem in excepturi quod deserunt numquam dicta eum fugit, neque dolorum suscipit labore accusantium quidem nihil asperiores sit tempore commodi provident culpa.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>